<h1>Angular</h1>
<h2>Properties</h2>
<h2>Property Binding</h2>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" name="name" [value]="person.name" id="name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="random pictures" width="100" height="100" />
<hr />
<h2>String Interpolation</h2>
<h2>Hola mundo</h2>
<h2>{{ "Hola mundo".repeat(5) }}</h2>
<!-- the second one is a string, inside the braces I can run JS expressions -->
<p>3 + 3 = {{ 3 + 3 }}</p>
<!-- {{ 3 + 3 }} has been assessed and executed -->
<h3>Hola, soy {{ name }}, y tengo {{ age }} años.</h3>
<img src="{{ img }}" alt="random pictures" width="200" />
<hr />
<h2>Events</h2>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toogleBtn()">Toogle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAgeBtn()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, at
  corporis laborum quos neque esse eligendi consequatur. Eveniet earum
  voluptates consequatur, deserunt cumque nulla nihil harum rem voluptatum odit
  accusantium. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio,
  doloribus blanditiis, numquam officia necessitatibus veritatis sapiente iusto
  porro omnis cum assumenda rerum laboriosam dolore aliquam praesentium
  voluptatem consequuntur quibusdam ex.
</div>
<p>Name {{ person.name }}</p>
<input
  type="text"
  name="name"
  [value]="person.name"
  id="name"
  (keyup)="changeName($event)"
/>
<hr />
<h2>NgModel</h2>
<p>Name {{ person.name }}</p>
<input
  type="text"
  name="name"
  required
  #nameInput="ngModel"
  [(ngModel)]="person.name"
  id="name"
/>
<!-- combination of [value]="person.name" and (keyup)="changeName($event)" -->
<p>Valid: {{ nameInput.valid }}</p>
<!-- Valid: true -->
<p>Age {{ person.age }}</p>
<input
  type="number"
  name="age"
  max="18"
  min="10"
  required
  #ageInput="ngModel"
  [(ngModel)]="person.age"
  id="age"
/>
<p>Valid: {{ ageInput.valid }}</p>
<hr />
<h2>*ngIf</h2>
<input type="text" name="name" required [(ngModel)]="person.name" id="name" />
<p *ngIf="person.name === 'Nicolas'">Soy Nicolas</p>
<p *ngIf="person.name === 'Julian' && person.age === 18; else elseBlock">
  Soy Julian
</p>
<ng-template #elseBlock
  ><p>Alternative text while primary text is hidden</p></ng-template
>
<!-- in case condition is not fulfilled show elseBlock -->
<hr />
<h2>*ngFor</h2>
<input type="text" name="name" required [(ngModel)]="newName" id="name" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}<button (click)="removeName(i)">Delete</button>
  </li>
</ul>
<input type="text" name="emoji" required [(ngModel)]="newEmoji" id="emoji" />
<button (click)="addEmoji()">Add emoji</button>
<ul>
  <li *ngIf="emojis.length === 0">No hay emojis</li>
  <li *ngFor="let emoji of emojis; index as i">
    {{ i }} {{ emoji }}<button (click)="removeEmoji(i)">Delete</button>
  </li>
</ul>
<hr />
<h2>*ngFor Objs</h2>
<div class="ngForContainter__products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="product image" />
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<hr />
<h2>ngSwitch</h2>
<input type="text" name="name" required [(ngModel)]="person.name" id="name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Nicolas'">La persona es Nicolas</p>
  <p *ngSwitchCase="'Julian'">La persona es Julian</p>
  <p *ngSwitchCase="'Camilo'">La persona es Camilo</p>
  <p *ngSwitchDefault>No hace match</p>
</div>
<hr />
<h2>Class & Style</h2>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.active]="nameInput2.invalid">
  El campo es requerido
</p>
<label [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'"
  >Nombre</label
>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">
  Texto texto texto
</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [src]="person.avatar" alt="avatar" [style.width.px]="widthImg" />
  </div>
</div>
<hr />
<h2>NgClass & NgStyle</h2>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr
  class="line-error"
  [ngClass]="{ active: nameInput4.invalid, inactive: nameInput4.valid }"
/>
<p class="message-error" [class.active]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div
    [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      background: box.background,
      display: 'block'
    }"
  ></div>
</div>
<hr />
<h2>Formulario</h2>

<form (ngSubmit)="onRegister()" #myForm="ngForm" class="form__myaccount">
  <div class="form__myaccount--container">
    <h3>My account</h3>
    <div class="input-group">
      <label
        for="name"
        [ngStyle]="{
          'width.%': formLabel.width,
          'margin-bottom.px': formLabel.marginBottom,
          'font-weight': formLabel.fontWeight
        }"
        >Name</label
      ><input
        type="text"
        name="name"
        required
        id="name"
        placeholder="Camila Yakoo"
        [(ngModel)]="register.name"
        #nameInput5="ngModel"
        [ngStyle]="{
          'width.%': formInput.width,
          background: formInput.background,
          color: formInput.color,
          border: formInput.border,
          'border-radius.px': formInput.borderRadius
        }"
      />
      <p class="error-message" [class.active]="nameInput5.invalid">
        Please fill out field
      </p>
    </div>
    <div class="input-group">
      <label
        for="email"
        [ngStyle]="{
          'width.%': formLabel.width,
          'margin-bottom.px': formLabel.marginBottom,
          'font-weight': formLabel.fontWeight
        }"
        >Email address</label
      ><input
        type="email"
        name="email"
        required
        id="email"
        placeholder="camillayakoo@gmail.com"
        [(ngModel)]="register.email"
        #emailInput="ngModel"
        [ngStyle]="{
          'width.%': formInput.width,
          background: formInput.background,
          color: formInput.color,
          border: formInput.border,
          'border-radius.px': formInput.borderRadius
        }"
      />
      <p class="error-message" [class.active]="emailInput.invalid">
        Please fill out field
      </p>
    </div>
    <div class="input-group">
      <label
        for="password"
        [ngStyle]="{
          'width.%': formLabel.width,
          'margin-bottom.px': formLabel.marginBottom,
          'font-weight': formLabel.fontWeight
        }"
        >Password</label
      ><input
        type="password"
        name="password"
        required
        id="password"
        placeholder="*********"
        [(ngModel)]="register.password"
        #passwordInput="ngModel"
        [ngStyle]="{
          'width.%': formInput.width,
          background: formInput.background,
          color: formInput.color,
          border: formInput.border,
          'border-radius.px': formInput.borderRadius
        }"
      />
      <p class="error-message" [class.active]="passwordInput.invalid">
        Please fill out field
      </p>
    </div>
    <button
      [disabled]="myForm.invalid"
      type="submit"
      class="button__submit"
      [ngClass]="{ active: myForm.invalid, inactive: myForm.valid }"
    >
      Register
    </button>
  </div>
  <!-- <button type="button">Accion</button> -->
</form>
