* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.global {
  background-image: linear-gradient(rgb(33, 192, 139), rgb(171, 136, 255));
  color: rgb(255, 255, 255);
  font-family: "Mulish", sans-serif;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.header__image {
  margin: 10px;
  width: 20%;
  min-width: 140px;
  max-width: 220px;
  height: auto;
}

.header__nav-list {
  display: flex;
  margin: 25px;
}

.header__nav-list--item {
  padding-left: 15px;
  font-size: 18px;
}

.main {
  min-height: calc(100vh - 200px);
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 400px;
  min-height: 700px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  padding: 60px 60px 40px;
  font-size: 14px;
}

.login-section--title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.form__input {
  background-color: transparent;
  outline: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid rgb(255, 255, 255);
  font-size: 16px;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.form__button {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  margin: 10px 0px;
}

::placeholder {
  color: rgb(255, 255, 255);
}

.link:visited {
  color: rgb(255, 255, 255);
}

.link:hover {
  text-decoration: underline;
}

.social-media-section {
  margin: 30px 0px;
}

.social-media-section__container {
  margin: 10px 0px;
}

.social-media-section__container--icon {
  margin-right: 10px;
}

.login-section__link--register {
  font-size: 16px;
  font-weight: bold;
}

.contact-section--title {
  margin: 40px;
  text-align: center;
}

.profile-section--title {
  margin: 40px;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 14px;
}

.footer__link {
  padding: 0 30px;
}

.link--return-main-page {
  padding: 20px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .header__image {
    margin: 10px;
    width: 150px;
    height: auto;
  }

  .login-section {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }

  .login-section--title {
    margin-bottom: 0px;
  }

  .social-media-section {
    margin: 0px;
  }

  .social-media-section__container {
    margin: 0px;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
